
html, body {
  max-width: 100%;
  overflow-x: hidden;
}

h3{
    span {
        color: #4e16a8;
        font-weight: 500;
    }
}
.input{
    background-color: #D2D2D2;
    border: none;
    padding: 10px 30px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
  }
  .button{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
    font-family: 'Cerebri Sans', 'Times New Roman', Times, serif;
    font-weight: 500;
    padding: 8px 30px;
    border: none;
    border-radius: 20px;
    background-color: #4E16A8;
    color: white;
  }
  .input, .button{
    margin: 10px 0;
  }

  .h-screen {
    height: 100vh;
  }