.hero{

    &__image-wrapper{
        // width: 100%;
        height: auto;
        img{
            width: clamp(100px, 300px, 400px);
        }
    }
    .col{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    }
    &__title-wrapper{
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        h1{
            @include title-colors;
        }
    }
}

@media screen and (max-width:576px){
    .hero{
        display: flex;
        flex-direction: column;
        align-items: center;
        .col{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        &__image-wrapper{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
    }
}

@media screen and (min-width:1440px) {
    .prices-travelers > .container-lg{
        transform: scale(1.5) translate(-3%, 27%); 
        height: 30vh;    

        
    }
    .hero > .container-lg {
        transform: scale(1.5) translate(-3%, 50%); 
        height: 30vh;   
    }
    .hero , .prices-travelers, .email {
        position: relative;
        height: 90vh;
    }
    main{
        z-index: -100;
    }
    .nav{
        // position: absolute;
        z-index: 99999999999999999999999;
    }
}

@media screen and (min-width:1440px) {
     .email > .container-lg{
        transform: scale(1.5) translate(-3%, 130%);  
    }
}