html, body {
  max-width: 100%;
  overflow-x: hidden;
}

h3 span {
  color: #4e16a8;
  font-weight: 500;
}

.input {
  background-color: #D2D2D2;
  border: none;
  padding: 10px 30px;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

.button {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
  font-family: "Cerebri Sans", "Times New Roman", Times, serif;
  font-weight: 500;
  padding: 8px 30px;
  border: none;
  border-radius: 20px;
  background-color: #4E16A8;
  color: white;
}

.input, .button {
  margin: 10px 0;
}

.h-screen {
  height: 100vh;
}

* {
  font-family: "Cerebri Sans", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
}

@font-face {
  font-family: "Cerebri Sans";
  src: url(../../fonts/CerebriSansPro-Regular.otf);
  font-weight: 400;
}
@font-face {
  font-family: "Cerebri Sans";
  src: url(../../fonts/CerebriSansPro-Medium.otf);
  font-weight: 500;
}
@font-face {
  font-family: "Cerebri Sans";
  src: url(../../fonts/CerebriSansPro-Bold.otf);
  font-weight: 600;
}
@font-face {
  font-family: "Cerebri Sans";
  src: url(../../fonts/CerebriSansPro-Thin.otf);
  font-weight: 300;
}
@font-face {
  font-family: "Cerebri Sans";
  src: url(../../fonts/CerebriSansPro-ExtraLight.otf);
  font-weight: 200;
}
header {
  height: 57px;
  position: relative;
  z-index: 10000000;
}
header .navbar {
  position: fixed;
  width: 100vw;
}
header .navbar .navbar-brand {
  font-weight: 500;
}
header .navbar .signup-button {
  background-color: #4E16A8 !important;
  color: #fff;
}
header .navbar .signup-button:hover {
  background-color: #3D0E7A !important;
}

.hero h2, .hero h1 {
  font-weight: 600;
  font-size: 2.5rem;
}
.hero__image-wrapper {
  height: auto;
}
.hero__image-wrapper img {
  width: 300px;
}
.hero .col {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.hero__title-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.hero__title-wrapper h1 {
  color: #4e16a8;
}

@media screen and (max-width: 576px) {
  .hero {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .hero .col {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .hero__image-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
@media screen and (min-width: 1440px) {
  .prices-travelers > .container-lg {
    transform: scale(1.5) translate(-3%, 27%);
    height: 30vh;
  }
  .hero > .container-lg {
    transform: scale(1.5) translate(-3%, 50%);
    height: 30vh;
  }
  .hero, .prices-travelers, .email {
    position: relative;
    height: 90vh;
  }
  main {
    z-index: -100;
  }
  .nav {
    z-index: 100000000000000030000000;
  }
}
@media screen and (min-width: 1440px) {
  .email > .container-lg {
    transform: scale(1.5) translate(-3%, 130%);
  }
}
.image-wrapper {
  height: auto;
}
.image-wrapper img {
  width: 300px;
}

.text-wrapper {
  display: flex;
  align-items: center;
}

.email {
  background-image: url(../../img/Boxes.png) center cover;
}/*# sourceMappingURL=main.css.map */